<div class="room_title">
  <div class="room_name">
    <p>hogefuga</p>
  </div>
  <div class="chat_exit">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="chat">
  <div class="message_set">
    <div class="message_name">
      Tom
      <div class="message_text">
        おはよう
      </div>
    </div>
    <div class="message_date">
      2021/03/30(wed) 12:34:56
    </div>
  </div>
  <div class="message_set">
    <div class="message_name">
      Sim
      <div class="message_text">
        こんばんは
      </div>
    </div>
    <div class="message_date">
      2021/03/30(wed) 22:34:56
    </div>
  </div>
</div>
<div class="form">
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form_left">
   <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <div class="form_right">
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
  </div>
</div>
