  <div class="message_set">
    <div class="message_name">
      <%= message.user.name %>
      <div class="message_text">
        <%= message.content %>
      </div>
    </div>
    <div class="message_date">
      <%= message.created_at %>
    </div>
  </div>