<div class="side_header">
  <div class="name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="room_list">
  <ul>
  <% Room.all.each do |room| %>
    <li><a href="#"><%= room.name %></a></li>
  <% end %>
  </ul>
</div>